<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>spacebattle</title>

<link rel="stylesheet" href="{{url_for('static', filename='demos/spacebattle/css/Untitled-3.css')}}">
</head>

<body>
<div class="buttom"></div>
<div class="menulayer">
	<p>Space  Battle</p>
	<img src="{{url_for('static', filename='demos/spacebattle/img/2.png')}}" id="play" onClick="game.showselcet()" class="bt"><br \>
    <img src="{{url_for('static', filename='demos/spacebattle/img/node2256.png')}}" id="sound" onClick="mute.doit()" class="bt">
</div>

<div class="selectlayer"></div>
<div class="loadlayer">
	<div id="loadmsg">
    <p></p>
    <img src="{{url_for('static', filename='demos/spacebattle/img/13221810.gif')}}">
    </div>
</div>

<div class="gamelayer">
  <div id="scoreshow" class="show"><p></p></div>  
  <canvas id="huabu" width="480" height="506"></canvas>
  <div class="pause"><img onClick="paus.doit()" id="pause" src="{{url_for('static', filename='demos/spacebattle/img/Pause.png')}}" class="bt"></div>
</div>
<div class="overlayer"><p>GAME OVER</p><br \>
<img src="{{url_for('static', filename='demos/spacebattle/img/32-repeat-50.png')}}" onClick="retry.tryit()" id="tryagain" class="bt">
<img src="{{url_for('static', filename='demos/spacebattle/img/主页.png')}}" onClick="game.init()" class="bt">
</div>
</body>
<script src="{{url_for('static', filename='js/jquery-1.12.3.min.js')}}"></script>
<script>{%include 'spacebattle/game.js'%}</script>
</html>
