<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>划龙舟</title>

<style type="text/css">
div {
	background-color: #999;
	position: absolute;
	height: 500px;
	width: 730px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
}
</style>
</head>
<body>
<div id="load"><p></p></div>
    <canvas width="720" height="445" id="game"></canvas>
</body>
<script src="{{url_for('static', filename='js/jquery-1.12.3.min.js')}}"></script>
<script> {% include 'dragonboat/game.js' %}</script>
</html>