{% extends "base.html" %} 
{% block content %}
{% for item in items  %}
{% if loop.index0 % 3 == 0 %}
<div class="row">
{% endif %}
	<div class="col-md-4" style="text-align: center; margin-bottom: 25px;">
		<img class="img-thumbnail" src="http://{{img_domain}}/{{item.img}}{{thumbnail}}">
		<h2>{{item.title}}</h2>
		<p>{{item.summary}}</p>
		{%if item.is_full== 'no'%}
		<button data-toggle="modal" data-target="#myModal" type="button" id="0" class="btn btn-primary btn-lg apply">我要参加</button>
		{%elif item.is_full== 'yes'%}
		<button data-toggle="modal" data-target="#myModal" type="button" id="0" class="btn btn-danger btn-lg apply" disabled="disabled">人数已满</button>
		{%else%}
		<button data-toggle="modal" data-target="#myModal" type="button" id="0" class="btn btn-warning btn-lg apply" >将满，抓紧</button>		
		{%endif%}		
	</div>
{% if loop.index0+1 % 3 == 0%}
</div>
{% endif %}
{% endfor %}
{% endblock %} 
{% block script %}
$('#apply').addClass('active')
{% include 'form.js' %}
{% include 'ajax.js' %}
{% endblock %}