{% extends "base.html" %} 
{% block content %}
{% for item in items  %}
{% if loop.index0 % 3 == 0 %}
<div class="row">
    {% endif %}
    <div class="col-md-4" style="text-align: center; margin-bottom: 25px;">
        <a href='/post/{{item.id}}'>
            <img class="img-thumbnail" src="http://{{img_domain}}/{{item.img}}{{thumbnail}}" ></a>
        <a href='/post/{{item.id}}'>
            <h2>{{item.title}}</h2>
        </a>
        <p>{{item.summary}}</p>
        <button data-toggle="modal" data-target="#myModal" type="button" id="0" class="btn btn-primary btn-lg apply">我要使用</button>
    </div>
{% if (loop.index0+1) % 3 == 0%}
</div>
{% endif %}
{% endfor %}
{% endblock %} 
{% block script %}
$('#book_tools').addClass('active')
var goalname=''
<!-- 全局变量获取内容的题目，以供模板form,ajax使用 -->
{% include 'form.js' %}
{% include 'ajax.js' %}
{% endblock %}