{% extends "base.html" %}
{% block content %}

	<h1>建设中......敬请期待!</h1>
<script language="php">

define("TOKEN", "weixin");
$wechatObj = new wechatCallbackapiTest();
if (isset($_GET['echostr'])) {
    $wechatObj->valid();
}else{
    $wechatObj->responseMsg();
}

class wechatCallbackapiTest
{
	public function valid()
    {
		header('content-type:text');
        $echoStr = $_GET["echostr"];
        if($this->checkSignature()){
        	echo $echoStr;
        	exit;
        }
    }

    public function responseMsg()
    {
		//get post data, May be due to the different environments
		$postStr = $GLOBALS["HTTP_RAW_POST_DATA"];

      	//extract post data
		if (!empty($postStr)){
                /* libxml_disable_entity_loader is to prevent XML eXternal Entity Injection,
                   the best way is to check the validity of xml by yourself */
                libxml_disable_entity_loader(true);
              	$postObj = simplexml_load_string($postStr, 'SimpleXMLElement', LIBXML_NOCDATA);
                $fromUsername = $postObj->FromUserName;
                $toUsername = $postObj->ToUserName;
                $keyword = trim($postObj->Content);
                $time = time();
                $textTpl = "<xml>
							<ToUserName><![CDATA[%s]]></ToUserName>
							<FromUserName><![CDATA[%s]]></FromUserName>
							<CreateTime>%s</CreateTime>
							<MsgType><![CDATA[%s]]></MsgType>
							<Content><![CDATA[%s]]></Content>
							<FuncFlag>0</FuncFlag>
							</xml>";             
					if($keyword == "查询")
					{
						$msgType = "text";
                        $value = $this->getValue();
						$contentStr = "当前浴室人数为：".$value;
						$resultStr = sprintf($textTpl, $fromUsername, $toUsername, $time, $msgType, $contentStr);
						echo $resultStr;
					}
            		else
                    {
                        $msgType = "text";
                        $contentStr = "请输入\"查询\"";
						$resultStr = sprintf($textTpl, $fromUsername, $toUsername, $time, $msgType, $contentStr);
						echo $resultStr;
                    }

        }else {
        	echo "";
        	exit;
        }
    }
	
	public function getValue()
	{
		$fp = fsockopen("api.heclouds.com",80, $errno, $errstr, 30);
		if (!$fp) 
		{   
			return "$errstr ($errno)\n";   
		} 
		else 
		{   
			$txt = "GET /devices/3227278/datastreams HTTP/1.1\r\n"; 
			$txt .= "api-key:txhCzJ9NX7iORS9RwYHEdfpTck0=\r\n";
			$txt .= "Host:api.heclouds.com\r\n";   
			$txt .= "Connection: Close\r\n\r\n";   
			fwrite($fp, $txt);
			while (!feof($fp)) 
			{   
				//echo fgets($fp);  
				$str = fgets($fp);	
			}
			$arr = json_decode($str,true);
			$value = $arr['data'][0]['current_value'];
			fclose($fp);
		} 
		return $value;
	}	
	
	private function checkSignature()
	{
        // you must define TOKEN by yourself
        if (!defined("TOKEN")) {
            throw new Exception('TOKEN is not defined!');
        }
        
        $signature = $_GET["signature"];
        $timestamp = $_GET["timestamp"];
        $nonce = $_GET["nonce"];
        		
		$token = TOKEN;
		$tmpArr = array($token, $timestamp, $nonce);
        // use SORT_STRING rule
		sort($tmpArr, SORT_STRING);
		$tmpStr = implode( $tmpArr );
		$tmpStr = sha1( $tmpStr );
		
		if( $tmpStr == $signature ){
			return true;
		}else{
			return false;
		}
	}
}
echo('建设中......敬请期待')
	</script>
{% endblock %}